- @page_title = t 'customer_status.edit.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'plus', t('resources.new'), new_customer_status_path, class: 'btn btn-default btn-sm'
      = icon_link_to 'list', t('resources.list'), customer_statuses_path, class: 'btn btn-default btn-sm'

  .box-body
    = render 'form'