- @page_title = t 'customer.new.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'list', t('resources.list'), customers_path, class: 'btn btn-default btn-sm'

  .box-body
    = render 'form'

