- @page_title = t 'customer.edit.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'info-circle',t('resources.show'), @customer, class: 'btn btn-primary btn-sm'
      = icon_link_to 'plus', t('resources.new'), new_customer_path, class: 'btn btn-default btn-sm'
      = icon_link_to 'list', t('resources.list'), customers_path, class: 'btn btn-default btn-sm'

  .box-body
    = render 'form'