- @page_title = t 'request.new.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'info-circle',t('resources.show'), @request.customer, class: 'btn btn-primary btn-sm'

  .box-body
    = render 'form'