$filter-bg-color: #d9edf7;

.filter {
  padding: 15px 20px;
  background-color: $filter-bg-color;
  margin-bottom: 10px;

  form {
    max-width: 1000px;

    .form-group {
      margin-bottom: 5px;
    }

    hr {
      margin: 10px 0 10px 0;
    }
  }
}

#workflow-transaction-filter {
  background: $filter-bg-color;
  padding: 5px 15px;
}
