- @page_title = t 'email.new.title'

.box
  .box-header.with-border
    %h3.box-title
    .box-tools
      = icon_link_to 'list', t('resources.list'), emails_path, class: 'btn btn-default btn-sm'

  .box-body
    = render 'form'
